/* Mobile Screen */
@media (max-width: 769px) {

    .text-center-mobile{
        text-align: center !important;
    }   
    
    .mobile-block{
        display: block !important;
        float:none;
        width:100%;
    }     
        
    .mobile-fullwidth{
        width:100% !important;
    }     
    
    .mobile-margin-bottom{
        margin-bottom:10px !important;
    }  

    .mobile-margin-bottom-x{
        margin-bottom:50px !important;
    }      
    
    .mobile-margin-top{
        margin-top:10px !important;
    }      
                            
    .mobile-margin-top-x{
        margin-top:50px !important;
    }           

    .media.responsive .media-body,
    .media.responsive .media-right,
    .media.responsive .media-left
    {
        display: block !important;
        width:100%;
        padding:5px;
        margin:5px;
    }   
    
    .media.responsive .media-heading{
        line-height: 30px;
    }          
    


    #profile .profile_heading .user .media-right{
        display: block;
        width:100%;
        text-align:center;
        margin-bottom:10px;
    }
    #profile .profile_heading .user .media-body .name{
        font-size:16px;
    }    
    
    #profile .profile_tabs ul,
    #edit_profile .profile_tabs ul{
        margin:10px 0;
    }
    
    #profile .profile_tabs ul li,
    #edit_profile .profile_tabs ul li{
        display: block;
        margin:0px;        
    }

    #profile .profile_tabs ul li a,
    #edit_profile .profile_tabs ul li a{
        border-radius:4px!important;
        -webkit-border-radius:4px!important;         
        border-bottom: 0px !important;
    }
    
    #profile .profile_tabs ul li.active a,
    #edit_profile .profile_tabs ul li.active a{
        border-bottom: 0px !important;
        color:#f33b00;
    }    
    
    #profile .profile_tabs ul li:hover a,
    #edit_profile .profile_tabs ul li:hover a{
        border-bottom: 0px !important;
        background: #f1f1f1;
    }  
    
    
    #fast_offers .rank_time , #level_updates .update_level{
        float:none;
        display: block;        
    }
    
    #fast_offers .rank_time .badge ,, #level_updates .update_level .badge{
        font-size:12px !important; 
        margin-top:0px !important;
    }

    .nice_notice h4{
        font-size:14px;
    }   

    .nice_notice p,.nice_notice h5{
        font-size:12px;
    }    
  
  
    #view_course .course_cover .course_title h4{
        font-size:20px !important; 
        line-height: 30px !important; 
    }
    
    .topic-body,
    .topic-body *,
    .list-group-item.tip .tip_text,
    .footer .about_site,
    #courses .trainig_system_info{
        text-align:inherit !important;
        max-width: 100%  !important;                
    }
    
    #service_create_pricing .pricing-section.count{
        border-bottom:1px dashed #ddd;
        border-left:none;
    }
        
}

/* Mobile Screen */
@media (max-width: 992px) {

    body {
        background-image:none !important;
    }    
        
    
    .mobile-fullwidth{
        width:100% !important;
    }     
    

    .navbar-brand{
        font-size: 20px;
        padding:15px 10px;
    }
    
    .navbar-brand img{
        margin-left: 5px;    
        height:26px;
        width:26px;
        float:right;
        margin-top:-3px;
    }        
    
    .modal{
        padding:5px !important;
    }    
    .modal .modal-dialog{
        margin:2px !important;
    }
    
    #nice_alert .modal-dialog{
        margin:20px 10px 10px 10px !important;
        font-size:14px;
    }     
    #nice_alert .alert-text{
        margin-top:10px;
        font-size:14px;
    }    
    #nice_alert .alert-icon{
        font-size: 2.4em;
    }
    
    
    .page-heading div.row > div{
        margin-bottom: 20px;
        text-align: center;
    }       
    .page-heading div.row div .btn{
        margin-bottom: 5px;
    }      
    .page-heading div.row div .btn-group{
        margin-bottom:5px;
    }
    .page-heading div.row div .btn-group .btn{
        margin-bottom:0px;
    }    
    

    
    .projects_listing .single_project .project_tags{
        margin-bottom:20px;
    }                   
    
    
    .main-navbar .navbar-nav li.active > a{    
        background: #E73413;
    }
    
    
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus{
        background: #da4100 !important;
    }    
        
        
    .main-navbar .navbar-nav > li > a:hover,
    .main-navbar .navbar-nav > li > a:focus{
        background-color: #FF8D2D !important;
        color: #fff;       
    }
    
    .main-navbar .navbar-nav > .active > a, 
    .main-navbar .navbar-nav > .active > a:hover, 
    .main-navbar .navbar-nav > .active > a:focus,                         
    .main-navbar .navbar-nav > .open > a, 
    .main-navbar .navbar-nav > .open > a:hover, 
    .main-navbar .navbar-nav > .open > a:focus {
        background-color: #E73413 !important;
        color: #fff;
    }          
    
    .main-navbar .nav .open > a, 
    .main-navbar .nav .open > a:hover,
    .main-navbar .nav .open > a:focus {
        background-color: #FF8D2D !important;
        border-color: #E73413 !important;
    }    
    
    .main-navbar .navbar-nav ul.dropdown-menu > li > a:not(.btn){
        color:#fff !important;
    }   
    
    .main-navbar .navbar-nav > li > ul li.divider{
        border-color:#fff;
    }        
          
    a.whatsapp{
        display: inline !important;
    }      
    
    .share_input{
        display: block  !important;
        width: 100%  !important;
        max-width: 100%  !important;
    }        
    
    
    #site_footer .links li{
        margin-bottom:5px;    
    }       

    #site_footer .links{
        text-align: center;
    }  
    
    
  
    #dashboard .page-heading .user-avatar{
        width:100% !important;
        display: block !important;
        text-align: center !important;
    }        
    
    #dashboard .page-heading .user-avatar img{
        width:auto !important;
        height:auto !important;
        display: inline !important;
        margin-bottom: 15px;
    }        
        
}




/* large screen */
@media (min-width: 992px) {
    

    .main-navbar .navbar-nav > li:hover > a ,
    .main-navbar.navbar-default .navbar-nav > .open > a{
        border-top:2px solid #fff;
        background: #ff9000 !important;
    }   

    .main-navbar .navbar-nav li.active > a{
        border-top:2px solid #fff;
        background: #ffa41d  !important;
    }       
    

    .main-navbar.navbar .nav > li.arrow_dropdown > .dropdown-menu::before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    .main-navbar.navbar .nav > li.arrow_dropdown > .dropdown-menu::after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #525151;
      border-left: 6px solid transparent;
      content: '';
    }  
    
    
    .sub-navbar.navbar .nav > li.arrow_dropdown > .dropdown-menu::before {
      position: absolute;
      top: -7px;
      right: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    .sub-navbar.navbar .nav > li.arrow_dropdown > .dropdown-menu::after {
      position: absolute;
      top: -6px;
      right: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #525151;
      border-left: 6px solid transparent;
      content: '';
    }          
    
    
    .navbar{
        min-height: 47px;
    }
    
    .navbar-header{
        height:47px;
    }

    .navbar-nav > li > a{
        padding-top:12px;
        padding-bottom:12px;
    }

    .navbar-brand{
        font-size:18px;
        height: 47px;
    }

    .navbar-brand img{
        margin-left: 5px;    
        height:28px;
        width:28px;
        float:right;
        margin-top:-5px;
    }    
    
    .navbar-collapse{
        padding-left:10px;    
    }

    .navbar-nav > li > a{
        padding: 15px 10px;
    }    
    
    #nice_alert .alert-text{
        margin-top:10px;
        font-size:18px;
    }    
    #nice_alert .alert-icon{
        font-size: 3em;
    }    
     
}
